* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
   background: url(Pics/dinner-dish-egg-54455-compressor.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
}

#login {
    justify-content: center;
    align-items: center;
}

label {
    color: white;
}

h1 {
    color: white !important;
}
